@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
body{
    line-height: 1.5;
}
.card{
  margin-top: -5rem;
  background-color: #aaaaaa;
    }
.card-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    padding: 10px;
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
    margin: auto;
}
.img-item{
    margin: 0.6rem;
    max-width: 120px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.5;
}
.product-content{
    
    padding: 2rem 1rem;
    background-color: rgb(189, 189, 189);

}
.product-title{
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #000000;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #000000;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}

.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: uppercase;
    color: #000000;
    font-size: .9rem;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.8rem;
    padding: 1rem;
    opacity: .5;
    color: red;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 1;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
    align-items: center;
    text-align: center;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;

}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #333333;
}
.purchase-info .btn:last-of-type{
    background: #000000;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links p { 
  margin-right: 5px;
  font-weight: bold;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.container {
  padding: 12px;
  margin: 10rem auto;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(84, 84, 84);
}

.container h1{ 
  margin-bottom: 2rem;
  color: #f2f2f2;
}


@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}