#mainStock {
  text-align: center;
  padding: 100px;

}


.button{ 
  margin: 5rem auto;
  text-align: center;

}

.button button {
  background-color: rgb(26,26,26); /* Green */
  border: 1px solid #f2f2f2;
  color: white;
  padding: 15px 20px;
  font-size: 1rem;
  transition: .2s;

}

.button button:hover{
  background-color: #f2f2f2;
  color: red;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid red;
}

