@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
  background: url("/soulreapers/img/gif.gif") ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

header {
   padding: 5px;
    color: #fff;
    background-color: rgba(26, 26, 26, .8);

}

header h1 {
  font-family: monospace;
  text-transform: lowercase;
  font-size: 1rem;
  margin-left: 2rem;
  display: flex;
  top: 0;
}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 2rem 0 2rem;
    
}

.menuItems a{ 
   /*  display: inline-block;
    margin: 25px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none; */
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menuItems a:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.menuItems .icon {
    display: none;
  }

footer {
  background-color: rgba(26, 26, 26, .8);
  text-align: center;
  padding: 20px;
  color: white;
  border-top: 1px solid #f2f2f2;
}

/* .card {
    width: 420px;
    height: 500px;
    background: url("/img/Screenshot_1.png");
    background-repeat: none;
    transition: .1s;

}
.card:hover {
    background: url("/img/Screenshot_2.png");
} */
/* 
input:invalid {
    animation: shake 300ms;
}

@keyframes shake {
    25% { transform: translate(4px);}
    50% { transform: translate(-4px);}
    75% { transform: translate(4px);}
} */

@media screen and (max-width: 800px) {
    .menuItems a {display: none;}
    .menuItems a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .menuItems.responsive {position: relative;}
    .menuItems.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menuItems.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
    header h1 { 
      margin: 0;
    }
  }

@media (max-width: 800px) {
    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
  }